<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.demomybatisplus.mapper.DsMemberGroupMapper">

    <resultMap id="BaseResultMap" type="com.example.demomybatisplus.domain.DsMemberGroup">
        <id property="id" column="id" jdbcType="BINARY"
            typeHandler="com.example.demomybatisplus.config.mp.StringBinaryTypeHandler"/>
        <result property="orgId" column="org_id" jdbcType="BINARY"
                typeHandler="com.example.demomybatisplus.config.mp.StringBinaryTypeHandler"/>
        <result property="name" column="name" jdbcType="VARCHAR"/>
        <result property="condition" column="condition" jdbcType="VARCHAR"/>
        <result property="auto" column="auto" jdbcType="TINYINT"/>
        <result property="syncToken" column="sync_token" jdbcType="CHAR"/>
        <result property="seq" column="seq" jdbcType="INTEGER"/>
        <result property="createTime" column="create_time" jdbcType="TIMESTAMP"/>
        <result property="updateTime" column="update_time" jdbcType="TIMESTAMP"/>
    </resultMap>

    <sql id="Base_Column_List">
        id,name,condition,
        auto,sync_token,seq,
        create_time,update_time,org_id
    </sql>
</mapper>
